.booklist_parentDiv {
  margin: 10px;
  margin-top: 0;
}

.booklist_header {
  position: fixed;
  background: linear-gradient(180deg, black, black, black, transparent 100%);
  height: 9%;
  width: 95%;
  padding-top: 3px;
  display: flex;
  justify-content: space-between;
}

.booklist_encloseHeader {
  padding: 3px;
  display: flex;
  align-self: center;
}

.booklist_headerComponent {
  margin-top: 3px;
}

.booklist_headerTitle {
  margin-left: 5px;
}

.booklist_filterArrow {
  width: 12px;
  height: 12px;
  position: fixed;
  background-color: white;
  transform: rotate(45deg);
  right: 3.5%;
  top: 6.5%;
}

.booklist_filterSearchBy {
  color: black;
  font-size: 12px;
}

.booklist_bookTitle {
  text-align: left;
  font-weight: lighter;
  font-size: 12pt;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.booklist_bookDetails {
  width: 31.5%;
  margin-bottom: 30px;
}
